.navbar{
    height: 60px;
}
.navbar .profil i{
    background-color: #5570FC !important;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 18px;          
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
