.navbar{
    height: 80px;
}
.navbar .profil i{
    background-color: #5570FC !important;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 18px;          
    display: flex;             /* PENTING */
    justify-content: center;   /* PENTING */
    align-items: center;       /* PENTING */
    border-radius: 50%;
}
